body {
    font-family: "Open Sans, sans-serif";
    background-image: linear-gradient(to top, #ffffff, #abbdf0, #6072dd);
}

h1, h2, h3 {
    font-family: "Shadows Into Light";
}

h2 {
    color: #3046C5;
}

header h2 {
    color: #CEC8FF;
}

.site-footer {
    background-image: linear-gradient(#CEC8FF, white);
}

.jumbotron {
    margin: 0;
    padding: 30px;
    background-image: linear-gradient(to top, #c2cef0, #808edd, #901CAD);
}
.row-content {
    padding: 50px, 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar-dark {
    background-color: #901CAD;
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel {
    border: solid #5637DD;
}
